<head>
  <link rel="stylesheet" href="pastries.css">
</head>

<nav id="navbar">
  <a id="navbar-title" href = "./catalog"><h1 > Quilliam McFancy's</h1></a>
  <a id="aboutUs" href="#">About Us </a>
  <a id="pastries" href="/pastries">Pastries</a>
  <a id="drinks" href="/drinks">Drinks</a>
  <a id="drinks" href="/textyourself">Text The Menu To Yourself</a>
  <a id="visitUs" href="#"> Visit Us</a>
  <a id="contactUs" href="#">Contact Us</a>
</nav>

<div id="pastries-grid">

  <% @cakes.each do |cake| %>
  <div id = "cakes-box">
    <div id ="img-box">

      <style media="screen">

      </style>
    <!-- <img src="<%=cake.img%>"> -->
    </div>
    <h1> <%=cake.description%></h1>
    <h2> <%=cake.price%></h2>
  </div>

  <%end%>

  <% @cookies.each do |cookie| %>
  <div id = "cookies-box">
    <div id ="img-box">
    <!-- <img src="<%cookie.img%>"> -->
  </div>
    <h1> <%=cookie.description%></h1>
    <h2> <%=cookie.price%></h2>
  </div>

  <%end%>
  <% @muffins.each do |muffin| %>
  <div id = "muffins-box">
    <div id ="img-box">
    <!-- <img src="<%=muffin.img%>"> -->
  </div>
    <h1> <%=muffin.description%></h1>
    <h2> <%=muffin.price%></h2>
  </div>

  <%end%>
</div>
